@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~quill/dist/quill.core.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}