@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@font-face {
  font-family: 'SF Pro';
  src: url("/fonts/SFProDisplay-Regular.ttf") format('truetype');
  /* Nếu bạn có các phiên bản khác nhau của font, hãy thêm các khai báo src khác ở đây */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}